.notification {
    padding: 20px;
    border: 2px solid currentColor;
    font-size: 20px;
}
.error {
    background-color: papayawhip;
    color: red;
}
.success {
    background-color: aliceblue;
    color: green;
}