body {
    background-color: beige;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    flex: 0 0 300px;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
}

.card p {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 0;
}

.card img {
    width: 100%;
}

.bold {
    font-weight: 900;
}