* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    text-align: center;
    padding: 40px;
}
img {
    display: block;
    margin: 20px auto;
}
h1 {
    margin-bottom: 50px;
}